# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/
eln-cache/
elpa/
snippets/
straight/
auto-save-list/
eshell
transient
.cache
.dap-breakpoints

# Backup files
*~
org-roam.db

# Undo-tree save-files
*.~undo-tree

